
p{color: blue}


.mytext{width: 600px;height:40px }
.mytext{color:blue;text-align: center}


.shut{
    height: 100;width: 100
}



#a11y-skip-nav{
    height: 50;width: 160
}


































